<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to City Hospital</h1>
    <p class="lead">Your health is our priority!</p>
    <a class="btn btn-primary btn-lg" routerLink="/departments" role="button">View Departments</a>
</div>


<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body service-card emergency">
                    <i class="fa fa-heartbeat fa-3x"></i>
                    <h3 class="card-title">Emergency Services</h3>
                    <p class="card-text">Available 24/7 for all emergencies.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body service-card doctors">
                    <i class="fa fa-user-md fa-3x"></i>
                    <h3 class="card-title">Expert Doctors</h3>
                    <p class="card-text">Highly qualified doctors in various specializations.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body service-card facilities">
                    <i class="fa fa-hospital-o fa-3x"></i>
                    <h3 class="card-title">Advanced Facilities</h3>
                    <p class="card-text">Modern medical equipment and state-of-the-art facilities.</p>
                </div>
            </div>
        </div>
    </div>
</div>
